*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --second-color: black;
    --color-Contact: #CB6C58;
    --color-Cercle: #D5AEE4;
    --color-text: #181E4B;
    --color-text-petit: #5E6282;
    --bg-color: white;
    --color-back: #fff1da;
}

body{
    background-image: url(../img/Ellipse\ 10.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-y: -20%;
    background-position-x: -20%;
}
/* -------------------------Header------------------------- */
header{
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-decoration: none;
    margin: 2%;
}

nav div ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

nav div ul .sign{
    border: 1px solid var(--second-color);
    border-radius: 5px;
    padding: 0 1% 0 1%;
}

header div ul li a{
    color: var(--second-color);
    text-decoration: none;
}

header div ul li select{
    border: none; 
    outline: none;
}

.menu-toggle-checkbox {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--second-color);
    padding: 0.5rem;
}
/*---------------main-----------*/

h1{
    text-align: center;
    font-weight: 100px;
    margin-bottom: 70px;
    margin-top: 90px;
}


.countiner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#Description--1, #Description--3, #Description--5{
    width: 46%;
    margin-top: 20px;
    margin-left: 47px;
    text-align: center;
    border: 15px solid rgba(255, 225, 154, 0.793);
    height: 336px;
    padding: 20px;
    border-radius: 30px;
    border-top-right-radius: 62px;
}
#Description--2, #Description--4, #Description--6{
    width: 46%;
    margin-top: 20px;
    margin-left: 30px;
    text-align: center;
    border: 15px solid rgba(255, 225, 154, 0.793);
    height: 336px;
    padding: 20px;
    border-radius: 30px;
    border-top-left-radius: 62px;
}

#Description--1{
    order: 2;
}
#Description--2{
    order: 3;
}
#Description--3{
    order: 6;
}
#Description--4{
    order: 7;
}
#Description--5{
    order: 10;
}
#Description--6{
    order: 11;
}

 #img--1{
    order: 1;
}
 #img--2{
    order: 4;
}  

 #img--3{
    order: 5;
}
 #img--4{
    order: 8;
} 
 #img--5{
    order: 9;
}
 #img--6{
    order: 12;
}    

.Image{
    width: 46%;
    height: 556px;
    margin-left: 40px;
    margin-top: 20px;
    
}
img:hover{
    transition: .3s;
    transform: scale(1.05);
}
.Description:hover{
    transition: .3s;
    transform: scale(1.05);
}


img {
    width: 100%;
    height: 60%;
    margin-left: 20px;
    border-radius: 15px;
} 
h2{
    text-align: start;
    margin-bottom: 42px;
    font-size: xx-large;
    font-weight: bolder;
}

.first-paraghraph{
    margin-bottom: 20px;
    font-size: x-large;
    color: #CB6C58;
    font-weight: bold;
}
p{
    font-size: larger;
    text-align: start;
    font-weight:bold;
}

button{
    margin-top: 42px;
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 12px;
    border-color: #CB6C58;
}

button:hover{
    background-color: #CB6C58;
    transform: scale(1.1);

}

a{
    text-decoration: none;
    color: black;   
}
a:hover{
    color: white;
}

/*---------------footer---------*/
footer{
    display: block;
    text-align: left;
    line-height: 38px;
    background-image: url(../img/Ellipse\ 10.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: right;
    background-position-x: 107%;
    background-position-y: -20%;
}

footer p{
    color: var(--color-text-petit);
    line-height: 20px;
    font-size: small;
    font-weight: 900;
}

.content{
    display: flex;
    justify-content: space-evenly;
}

.content h2{
    color: #4b58be;
    font-weight: 800;
}

.content h4{
    font-weight: 900;
}
.content div ul{
    list-style-type: none;
}

.content div ul li a{
    color: var(--color-text-petit);
    text-decoration: none;
}

.social-media{
    display: block;
    color: var(--color-text-petit);
    text-align: center;
}
.social ul{
    display: flex;
    justify-content: space-evenly;
}
.social ul li{
    margin-top: 3%;
    margin-right: 2%;
}

#copyright{
    text-align: center;
}

/* -------------------------Media------------------------- 
@media (max-width: 768px) {
    header {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
    }

    .menu-icon {
        display: block;
    }

    nav div ul {
        display: none;
        flex-direction: column;
        position: absolute;
        /*top: 100%;
        right: 2%;
        background-color: var(--bg-color);
        padding: 1rem;
        width: 60%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .menu-toggle-checkbox:checked + .menu-icon + nav div ul {
        display: flex;
    }
    nav div ul .sign{
    width: 30%;
}
footer{
    background-image: none;
}
}

@media(max-width: 575px){
    footer{
        text-align: center;
        background-image: none;
    }
    .content{
        display: block;
    }
    main .txt_img, .img-txt{
        display: grid;
        grid-template-columns: 1fr;
    }
    main .txt_img img{
        /* display: none; 
        width: 100%;
    } 
    main .img-txt img{
        display: none;
    } 

    main .txt_img div:first-child{
        width: 100%;
    }
    main .img-txt div:last-child{
        width: 100%;
    }

    .txt_img div:last-child{
    background-image: none;
}
.img-txt div:first-child{
    background-image: none;
}
.list{
    display: block;
    text-align: center;
}
.list div:first-child{
    /* text-align: left; 
    width: 100%;
}
}*/