*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --second-color: black;
    --color-Contact: #CB6C58;
    --color-Cercle: #D5AEE4;
    --color-text: #181E4B;
    --color-text-petit: #5E6282;
    --bg-color: white;
    --color-back: #fff1da;
}

body{
    background-image: url(../img/Ellipse\ 10.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-y: -12%;
    background-position-x: -20%;
}
/* -------------------------Header------------------------- */
header{
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-decoration: none;
    margin: 2%;
}

nav div ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

nav div ul .sign{
    border: 1px solid var(--second-color);
    border-radius: 5px;
    padding: 0 1% 0 1%;
}

header div ul li a{
    color: var(--second-color);
    text-decoration: none;
}

header div ul li select{
    border: none; 
    outline: none;
}

.menu-toggle-checkbox {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--second-color);
    padding: 0.5rem;
}

/* -------------------------Main------------------------- */
main{
    display: block;
    text-align: center;
    margin-bottom: 5%;
    justify-content: space-evenly;
}

main p{
    color: var(--color-text-petit);
}

main h4{
    color: var(--color-text-petit);
}

main h1{
    color: var(--color-text);
    margin-bottom: 25px;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card{
    padding: 6%;
    background-color: var(--bg-color);
    box-shadow: 5px 5px 50px grey;
    margin: 2%;
    border-radius: 10px;
}

.txt{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.img-txts{
    display: flex;
    justify-content: center;
}
.img-card{
    width: 70%;
    height: 200px;
    border-radius: 7px;
}
/* -------------------------Section------------------------- */
section{
    display: block;
    margin-bottom: 4%;
}

section h1{
    text-align: center;
    color: var(--color-text);
    margin-bottom: 50px;
}
section div{
    justify-content: center;
}

.city{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-left: 10%;
}

.city h2{
    font-weight: 800;
    font-size: 90%;
}

.city p{
    color: var(--color-text-petit);
}

.city img{
    width: 60%;
    height: 170px;
    border-radius: 7px;
}

/* -------------------------Section 2------------------------- */
.second-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 60px;
    padding: 60px 10%;
    flex-wrap: wrap;
    text-align: left;
}

.second-section h1{
    text-align: left;
}

.second-section .text , .pic-title h4{
    flex: 1;
    min-width: 320px;
    text-align: left;
}
.second-section-texts{
    display: flex;
    column-gap: 15px;
    margin-bottom: 2%;
    justify-content: left;
}

.second-section-texts p {
    flex: 1;
    min-width: 320px;
}
.second-section-texts p , h4{
    color: #5a7184;
}
.section-cards {
    display: grid;
    grid-template-columns: 150px 150px;
    gap: 20px;
    position: relative;
}

.section-cards .card-s {
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
}
.card-s{
    width: 200px;
    height: 290px;
    text-align: center;
    color: var(--color-text-petit);
}

.card-s img{
    width: 200px;
    height: 290px;
}

.section-cards .card-s #second-card {
    position: relative;
    top: 50em;
    left: 20px;
}

/* .section-cards .card-s:nth-child(1) {
    -webkit-transform: translate(15px, 15px);
    transform: translate(15px, 15px);
}

.section-cards .card-s:nth-child(2) {
    -webkit-transform: translate(30px, 30px);
    transform: translate(30px, 30px);
}

.section-cards .card-s:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 2;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
} */
/* -------------------------Footer------------------------- */
footer{
    display: block;
    text-align: left;
    line-height: 38px;
    background-image: url(../img/Ellipse\ 10.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: right;
    background-position-x: 107%;
    background-position-y: -20%;
}

footer p{
    color: var(--color-text-petit);
    line-height: 20px;
    font-size: small;
    font-weight: 900;
}

.content{
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}

.content h2{
    color: #4b58be;
    font-weight: 800;
}

.content h4{
    font-weight: 900;
}
.content div ul{
    list-style-type: none;
}

.content div ul li a{
    color: var(--color-text-petit);
    text-decoration: none;
}

.social-media{
    display: block;
    color: var(--color-text-petit);
    text-align: center;
}
.social ul{
    display: flex;
    justify-content: space-evenly;
}
.social ul li{
    margin-top: 3%;
    margin-right: 2%;
}

#copyright{
    text-align: center;
}

/* -------------------------Medai------------------------- */
@media (max-width: 768px) {
    header {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
    }
    .menu-icon {
        display: block;
    }
    nav div ul {
        display: none;
        flex-direction: column;
        position: absolute;
        /*top: 100%;*/
        right: 2%;
        background-color: var(--bg-color);
        padding: 1rem;
        width: 60%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .menu-toggle-checkbox:checked + .menu-icon + nav div ul {
        display: flex;
    }
    nav div ul .sign{
    width: 30%;
}
footer{
    background-image: none;
}
}

@media(max-width: 575px){
    .cards{
        flex-wrap: wrap;
    }
    .city{
        display: grid;
        grid-template-columns: 1fr;
    }
    .section-cards{
        display: none;
    }
    footer{
        text-align: center;
        background-image: none;
    }
    .content{
        display: block;
    }

    .second-section-texts{
        display: block;
    }
}