/* common css */

*{
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

body {
	background-color: #ffffff;
	overflow-x: hidden;
}
h1{
	color: #0c025c;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 180px;
	font-size: calc(2vw + 50px );
	margin-left: 10vw;
    margin-bottom: 200px;
	padding-right: 2vw;
}

#menu-icon{
	font-size: 35px;
		z-index: 10001;
	cursor: pointer;
	display: none;
	display: none;
}

.navbar{
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
}
.navbar a{
	color: rgb(0, 0, 0);
	font-weight: 500;
	padding: 0px 22px;
}
.navbar .sign_up{
	padding: 8px;
	padding-inline: 20px;
	border: 1px solid rgb(0, 0, 0);
	margin-right: 20px;
	border-radius: 5px;
}
.logo{
	color: black;	
	font-size: xx-large;
	font-weight: 700;
}
header {
	position: fixed;
	width: 80%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	transition: ease .40s;
	z-index: 100;
	padding: 10px 10%;
	background-color: #ffffff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.329);
}
	
header select{
	background: none;
	border: none;
	border-radius: 10px;
}

.svg_2{
	z-index: -1;
	position: absolute;
	right: 0;
	top:0;
	min-width: 500px;
}

footer{
	display: flex;
	flex-wrap: wrap;
	margin-top: 150px;
	padding-left: 50px;
	color: rgb(132, 217, 241);
	align-items: baseline;
}
footer div{
	width: 200px;
}
footer .div_1{
	margin-right: 250px;
}
footer h1{
	margin: 0;
	color: rgb(0, 0, 0);
	font-family: 'Poppins', sans-serif;
	font-size: 50px;
	font-weight: 500;
}
footer h2 {
	margin: 0;
	color: rgb(0, 0, 0);
	font-family: 'Poppins', sans-serif;
}

footer a{
	color: rgb(113, 115, 116);
	display: block;
	margin-top: 10px;
	font-weight: 500;
}
footer p{
	width: 300px;
	color: rgb(113, 115, 116);
	font-weight: 500;
}

.social_icons{
	display: flex;
	justify-content: flex;
	flex-wrap: wrap;
	width:calc(10vw + 13rem);
}
.social_icons a{
	margin: 10px;
	padding: 0;
}
.rights{
	color: rgb(120, 121, 122);
	margin-top: 70px;
	margin-bottom: 150px;
	justify-self: center;
}

/* unique css */

main h2{
    font-size: 65px;
	margin-bottom: 100px;
	text-align: center;
}

main section{
	height: 1000px;
}

.japan .cont1, .greek .cont2, .morocco .cont3{
	margin-top: 200px;
	display: flex;
	flex-wrap: wrap;
	overflow-y: visible;
	overflow-x: auto;
	justify-content: center;
	width: 690px;
	height: 1200px;
	gap: 2vw;
	transform: rotate(-90deg) translateY(350px) translateX(400px);
}

.image{	
	transition: 1s;
	height: 400px;
	width: 650px;
	gap: 2vw;
	overflow: hidden;
	flex-shrink: 0;
	border-radius: 100px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.753);
	transform-origin: top left;	
	position: relative;
}
main img{
	width: 200%;
	border-radius: 100px;
	transform: rotate(90deg) translateY(400px);
}

.image:hover{
	z-index: 5;
	transition: .85s;
	transform: translateY(-500px);
	transform-origin: center;
	height: 1000px;
	width: 670px;
	margin-top: 500px;
	margin-bottom: -500px; 
}

@media (max-width: 967px) {

.japan .cont1, .greek .cont2, .morocco .cont3{
	margin-top: 200px;
	display: flex;
	flex-wrap: wrap;
	overflow-y: visible;
	overflow-x: auto;
	align-items: center;
	width: 1200px;
	height: 690px;
	gap: 2vw;
	transform: rotate(0deg) translateY(350px) translateX(400px);
}

.image{	
	transition: 1s;
	height: 300px;
	width: 550px;
	gap: 2vw;
	overflow: hidden;
	flex-shrink: 0;
	border-radius: 100px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.753);
	transform-origin: top left;	
	position: relative;
}
main img{
	width: 220%;
	border-radius: 100px;
	transform: rotate(0deg) translateY(400px);
}

.image:hover{
	z-index: 5;
	transition: 0s;
	transform-origin: center;
	height: 300px;
	width: 550px;
	margin-top: 500px;
	margin-bottom: -500px; 
}

}

::-webkit-scrollbar {
 display: none;
}

