
main h2{
    font-size: 65px;
	margin-bottom: 100px;
	margin-left: 200px;
}

main section{
	height: 1000px;
}

.japan .cont1, .greek .cont2, .morocco .cont3{
	margin-top: 200px;
	display: flex;
	flex-wrap: wrap;
	overflow-y: visible;
	overflow-x: auto;
	justify-content: center;
	width: 690px;
	height: 1200px;
	gap: 2vw;
	transform: rotate(-90deg) translateY(350px) translateX(400px);
}

.image{	
	transition: 1s;
	height: 400px;
	width: 650px;
	gap: 2vw;
	overflow: hidden;
	flex-shrink: 0;
	border-radius: 100px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.753);
	transform-origin: top left;	
	position: relative;
}
main img{
	width: 200%;
	border-radius: 100px;
	transform: rotate(90deg) translateY(400px);
}

.image:hover{
	z-index: 5;
	transition: .85s;
	transform: translateY(-500px);
	transform-origin: center;
	height: 1000px;
	width: 670px;
	margin-top: 500px;
	margin-bottom: -500px; 
}

@media (max-width: 967px) {
	main h2{
    	font-size: 65px;
		margin-bottom: 100px;
		text-align: center;
	}

.japan .cont1, .greek .cont2, .morocco .cont3{
	margin-top: 200px;
	display: flex;
	flex-wrap: wrap;
	overflow-y: visible;
	overflow-x: auto;
	justify-content: center;
	width: 690px;
	height: 1200px;
	gap: 2vw;
	transform: rotate(-90deg) translateY(260px) translateX(400px);
}

.image{	
	transition: 1s;
	height: 300px;
	width: 550px;
	gap: 2vw;
	overflow: hidden;
	flex-shrink: 0;
	border-radius: 100px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.753);
	transform-origin: top left;	
	position: relative;
}
main img{
	width: 220%;
	border-radius: 100px;
	transform: rotate(90deg) translateY(400px);
}

.image:hover{
	z-index: 5;
	transition: .85s;
	transform: translateY(-500px);
	transform-origin: center;
	height: 500px;
	width: 550px;
	margin-top: 500px;
	margin-bottom: -500px; 
}

}

::-webkit-scrollbar {
 display: none;
}

