* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    transition: all .2s ease-in-out;
    user-select: none;
}

.head {
    background-color: black;
    display: flex;
    margin-top: 6%;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}


.title {
    font-size: 200%;
    color: coral;
    gap: 12px;
    align-self: center;
}

.first-section {

    display: flex;
    justify-content: space-around;
}

.first-section img {
    margin-left: 20em;
}

.ticket-Offer {

    display: flex;
}


#imgafrica {
    border-radius: 7%;
}

#prompt {
    box-shadow: #FFF1E5(0, 0, 0, 0.1) 0px 10px 50px;
    background-color: #FFF1E5;
    height: 138px;
    border-radius: 30px;
    padding: auto;
    width: 70%;
    display: block;
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.paragraphafrica {
    background-color: blue;
    display: block;
    gap: 20px;
}

.two-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    background-color: black;
}

.two-images #orange-btn{
    top: 0;
    left: 0;
}


.two-images #blue-btn{
    left: 0;
    right: 0;
}
.text-second_section {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    gap: 2rem;

}

.first-parent-section-2 {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    gap: 2rem;
}

main {

    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    gap: 2rem;
    
}

section div button {

    border: none;
    border-radius: 26px;
    color: aliceblue;
    height: 40px;
    width: 80px;
    position: absolute;
}



/*second section*/

.first-div{
    display: flex;
    flex-wrap: wrap;
}


.second-div{
    display: flex;
    flex-wrap: wrap;
}