.head {
    display: flex;
    margin-top: 6%;
    justify-content: center;

}


.tiltle {

    font-size: 230%;
    color: coral;
    gap: 12px;
    text-align: center;
}

.first-section {

    display: flex; 
    justify-content: space-around;

}

.ticket-Offer{

    display: flex;
}




#imgafrica {

    border-radius: 7%;

}

#prompt {

    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    height: 138px;
    width: 300px;
    padding-left: 30px;
    padding-top: 20px;
    border-radius: 15%;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.paragraphafrica {


    display: grid;
    gap: 20px;
}

.two-images{
    display: grid;
    gap: 10px;
    justify-content: flex-end;
}

section2{

    display: flex;
}

.text-second_section{
  
 margin-bottom: 20%;
  align-content: center;

}

section2{
justify-content: center;
justify-content: space-around;

}